---
// src/components/widgets/Sidebar.astro
export interface Props {
  height?: string;
}

const { height = 'auto' } = Astro.props;
---

<div class='sidebar sticky-sidebar' style={`width: 20%; padding: 10px; margin-right:5px; height: ${height}; box-sizing: border-box;`}>
  <p>Docs to Markdown Pro </p>
</div>

