---
import Layout from '~/layouts/PageLayout.astro';


const metadata = {
  title: 'Convert Markdown to Google Docs Online(100% client site) - Free',
  description: "This tool converts Markdown text into a Google Docs format. Paste the Markdown in the Input Box and it will be rendered as a rich text in the output text. Copy the output and paste in your Google Docs."
};
---
<Layout metadata={metadata}>
    
<div style="padding-top:10px; padding-left:50px;">
<h1 style=" color: #2772ed; font-size:32px ;font-weight: bold; padding-top:10px;">Convert Markdown to Google Docs Online – Free</h1>
<p style="padding-top:10px;">You can use this tool to convert Markdown to Google Docs online for free. Alternatively, you can use the <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" target="_blank" href="https://workspace.google.com/marketplace/app/docs_to_markdown_pro/483386994804">Docs to Markdown Pro</a> Add-on to convert the Markdown directly to Google Docs within the Google Docs window.</p>
</div>
<div style="text-align: center;">
    <a href="https://workspace.google.com/marketplace/app/docs_to_markdown_pro/483386994804?pann=b" target="_blank" aria-label="Get it from the Google Workspace Marketplace" rel="noopener">
      <div style="display: inline-block;">
        <img alt="Google Workspace Marketplace badge" alt-text="Get it from the Google Workspace Marketplace" src="https://workspace.google.com/static/img/marketplace/en/gwmBadge.svg?" style="height: 68px;">
      </div>
    </a>
  </div>
  <!-- Include Quill library -->
{<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>}
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet">
{<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div id="button-container" class="tool-button-container" style="display: flex; justify-content: flex-end;">
   <p>Copy the output and paste in your Google Docs&nbsp;&nbsp;&nbsp;</p>
   <button id="copy-button" class="tool-styled-button"><i class="far fa-copy"></i> Copy Output</button>
</div>
<main class="twocols">
   
    <textarea id="input" class="input-field"  autocomplete="off"></textarea><p class="text-left-instructions" id="input-instructions">Paste your Markdown here..</p>
    <div id="output-instructions" class ="right-editor-placeholder">..get your Google Docs content here</div>
    <div id="output" class="input-field editor-container" autocomplete="off"></div>
    

</main>
<div class="mx-10 leading-10">

<h2 class="font-bold">How to convert Markdown to Google Docs using this online tool?</h2>
<ol class=" list-decimal list-inside mx-10">
<li class="font-normal">Paste your Markdown content in the input text box on the left side.</li>
<li class="font-normal">The Markdown will be rendered as rich text on the output text box automatically</li>
<li class="font-normal">Copy the output using the Copy Markdown button</li>
<li class="font-normal">Paste the copied content in your Google Docs. Content will be pasted and the formatting will be preserved as well. </li>
</ol>

<h2 class="font-bold">How to Convert Markdown directly to Google Docs using the Docs to Markdown Pro extension?</h2>
<ol class=" list-decimal list-inside mx-10">
    <li>Install the Docs to Markdown Pro extension from the Google Docs Workspace Marketplace.</li>
    <li>From the Google Docs Extensions menu, select Docs to Markdown Pro > Markdown/HTML to Docs</li>
    <li>Paste the Markdown in the input text box</li>
    <li>The Markdown content will be converted to rich text and inserted into Google Docs automatically</li>
  </ol>
</div>
<div id="hide-grow-widget"></div>


{<script>
    // Select the input and output elements
    var inputElement = document.getElementById('input');
    var outputElement = document.getElementById('output');
    // Initialize Quill
    var quill = new Quill('#output', {
        theme: 'snow',
        readOnly: true,
        modules: {
            toolbar: false, // Disable the toolbar
        },
    });

    // Function to convert HTML to Markdown
    function toHTML() {
        

        // Get the text content from the content-editable div
        var textContent = inputElement.value;

        var outputHTML = marked.parse(textContent);
        quill.clipboard.dangerouslyPasteHTML(outputHTML);

    }

    // Add event listener to invoke toMarkdown function on input
    inputElement.addEventListener('input', ()=>{
      const inputInstructions = document.getElementById('input-instructions');
      const outputInstructions = document.getElementById('output-instructions');

      const hasContent = !!inputElement.value.trim();
      if (hasContent) {
        inputInstructions.style.display = 'none'; // Hide instructions if there's content
        outputInstructions.style.display = 'none';
      } else {
          inputInstructions.style.display = 'block';
          outputInstructions.style.display = 'block';
          inputElement.focus();
      }
      toHTML();
    });

    
    var copyButton = document.getElementById('copy-button');
    if (navigator.clipboard && navigator.clipboard.writeText) {
     copyButton.addEventListener('click', () => {
      event.preventDefault();
      var html = quill.root.innerHTML;
      const blob = new Blob([html], {type: 'text/html'});
      const clipboardItem = new window.ClipboardItem({ 'text/html': blob });
      navigator.clipboard.write([clipboardItem]);
      showCopyTooltip();
   });
 }

    var menuItemsToHide = ["menu-item-2062", "menu-item-1477", "menu-item-1479", "menu-item-1890"];

    // Iterate over each menu item ID and hide them
    menuItemsToHide.forEach(function (itemId) {
        var menuItem = document.getElementById(itemId);
        if (menuItem) {
            menuItem.style.display = "none";
        }
    });

    function showCopyTooltip() {
        var tooltip = document.createElement('div');
        tooltip.className = 'copy-tooltip';
        tooltip.textContent = 'Text copied to clipboard';
        document.body.appendChild(tooltip);

        setTimeout(() => {
            tooltip.style.opacity = '0';
            setTimeout(() => {
                document.body.removeChild(tooltip);
            }, 500);
        }, 1500);
    }

</script>}
</Layout>