---
import Layout from '~/layouts/PageLayout.astro';
import Sidebar from '~/components/widgets/Sidebar.astro';

const metadata = {
  title: 'Convert Markdown to HTML free online',
  description: "This tool converts Markdown text into an HTML format. Paste the Markdown in the Input Box and it will be rendered as rich text in the output text. Copy the output and you'll have an HTML output."
};
---
<Layout metadata={metadata}>
  <div style="display: flex; padding-top: 10px; padding-left: 50px;">
    <div style="width: 75%; padding-right: 20px;">
      <div style="padding-top:10px; padding-left:50px;">
        <h1 style="color: #2772ed; font-size:32px; font-weight: bold; padding-top:10px;">
          Convert Markdown to HTML Online - Free
        </h1>
        <p style="padding-top:10px;">You can use this tool to convert Markdown to HTML online for free.</p>
      </div>

      <div style="text-align: center;">
        <a href="https://workspace.google.com/marketplace/app/docs_to_markdown_pro/483386994804?pann=b" target="_blank" aria-label="Get it from the Google Workspace Marketplace" rel="noopener">
          <div style="display: inline-block;">
            <img alt="Google Workspace Marketplace badge" src="https://workspace.google.com/static/img/marketplace/en/gwmBadge.svg?" style="height: 68px;">
          </div>
        </a>
      </div>
      <script is:inline src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      
      <div id="button-container" class="tool-button-container" style="display: flex; justify-content: flex-end; margin-right: 10px; margin-bottom: 5px;">
        <button id="copy-button" class="tool-styled-button-new"><i class="far fa-copy"></i> Copy</button>
      </div>

      <main class="twocols">
        <textarea id="input" class="input-field" autocomplete="off"></textarea>
        <p class="text-left-instructions" id="input-instructions">Paste your Markdown here..</p>
        <textarea id="output" class="input-field" autocomplete="off" readonly></textarea>
        <p class="text-instructions" id="output-instructions">..get your HTML here</p>
      </main>

      <div id="hide-grow-widget"></div>    
    </div>
    
    <!-- Sidebar with a custom height -->
    <Sidebar height="10%" class=".sticky-sidebar" />

    <!-- Clear floats -->
    <div style="clear: both;"></div>
  </div>

  {<script>
    document.addEventListener('DOMContentLoaded', () => {
      // Select the input and output elements
      const inputElement = document.getElementById('input');
      const outputElement = document.getElementById('output');
      
      // Function to convert Markdown to HTML
      function toHTML() {
        const textContent = inputElement.value;
        const outputHTML = marked.parse(textContent);
        outputElement.value = outputHTML;
      }

      // Add event listener to invoke toHTML function on input
      inputElement.addEventListener('input', () => {
        const inputInstructions = document.getElementById('input-instructions');
        const outputInstructions = document.getElementById('output-instructions');

        const hasContent = !!inputElement.value.trim();
        if (hasContent) {
          inputInstructions.style.display = 'none'; // Hide instructions if there's content
          outputInstructions.style.display = 'none';
        } else {
          inputInstructions.style.display = 'block';
          outputInstructions.style.display = 'block';
          inputElement.focus();
        }
        toHTML();
      });

      // Add event listener to copy HTML to clipboard
      const copyButtonForHTMLCopy = document.getElementById('copy-button');
      if (navigator.clipboard && navigator.clipboard.writeText) {
        copyButtonForHTMLCopy.addEventListener('click', () => {
          const html = outputElement.value;
          navigator.clipboard.writeText(html).then(() => {
            showCopyTooltip();
          }).catch(err => {
            console.error('Failed to copy text: ', err);
          });
        });
      }

      function showCopyTooltip() {
        const tooltip = document.createElement('div');
        tooltip.className = 'copy-tooltip';
        tooltip.textContent = 'Text copied to clipboard';
        document.body.appendChild(tooltip);

        setTimeout(() => {
          tooltip.style.opacity = '0';
          setTimeout(() => {
            document.body.removeChild(tooltip);
          }, 500);
        }, 1500);
      }

      // Hide menu items (ensure the IDs match those in your HTML)
      const menuItemsToHide = ["menu-item-2062", "menu-item-1477", "menu-item-1479"];
      menuItemsToHide.forEach(itemId => {
        const menuItem = document.getElementById(itemId);
        if (menuItem) {
          menuItem.style.display = "none";
        }
      });
    });
  </script>}
</Layout>
