---
import Layout from '~/layouts/PageLayout.astro';
import WordToHtmlConverter from '../components/tools/word-to-html';
import Sidebar from '../components/widgets/Sidebar.astro';

const metadata = {
  title: 'Word to HTML Converter',
  description: 'Convert Word documents to HTML and preview content interactively.'
};
---

<Layout metadata={metadata}>
  <!-- Total Page Container -->
  <div style="display: flex;">
    <!-- Content and Sidebar Container -->
    <!-- Main Content Section (80%) -->
    <div style="width: 80%; padding-right: 20px;">
      <!-- Title and Introduction inside Main Content -->
      <div>
        <div style="padding-left:30px;">
          <h1 style=" color: #2772ed; font-size:32px ;font-weight: bold;">Convert Word to HTML Online - Free</h1>
          <p >You can use this tool to convert Word to HTML online for free. Alternatively, you can use the <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" target="_blank" href="https://workspace.google.com/marketplace/app/bulk_converter_pro/327730061402">Bulk Converter Pro</a> <i class="fa fa-external-link" aria-hidden="true" style="color:blue"></i>&nbsp; Add-on to convert the Word Documents to HTML format. <b> It helps generate publish-ready HTML by downloading images and the HTML file as a ZIP archive.</b> </p>
          </div>
          <div style="text-align: center;">
            <a href="https://workspace.google.com/marketplace/app/bulk_converter_pro/327730061402?pann=b" target="_blank" aria-label="Get it from the Google Workspace Marketplace" rel="noopener">
              <div style="display: inline-block;">
                <img alt="Google Workspace Marketplace badge" alt-text="Get it from the Google Workspace Marketplace" src="https://workspace.google.com/static/img/marketplace/en/gwmBadge.svg?" style="height: 65px; padding-top: 10px">
              </div>
            </a>
          </div>
      </div>
      <!-- Word to HTML Converter Component -->
      <main style="padding-left: 20px; padding-right: 20px">
        <WordToHtmlConverter client:load />
      </main>
    </div>
    <!-- Sidebar Section (20%) -->
    <Sidebar height="5%" />
  </div>
</Layout>
